/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Encabezado */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.header-content {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.site-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}
/* Botón del menú */
.menu-btn {
    font-size: 24px;
    cursor: pointer;
}

/* Menú lateral */
.menu-lateral {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 1000;
}

.menu-lateral.open {
    right: 0;
}


/* Botón de cierre */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 500;
    transition: opacity 0.3s ease;
}

.overlay.show {
    display: block;
}

/* Opciones del menú */
.menu-lateral ul {
    list-style: none;
    padding: 0;
}

.menu-lateral li {
    padding: 10px 0;
}

.menu-lateral a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

/* Sección hero */
.hero {
    background: linear-gradient(to bottom, rgba(229, 241, 230, 0.9), rgba(135, 207, 135, 0.9)), url(imagenes/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.hero-content p {
    max-width: 600px;
    font-size: 1.2em;
    color: #555;
}

/* Información del proyecto */
.project-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 5%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px auto;
}

.info-content {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    transition-delay: 0.2s;
}

.info-content.visible {
    opacity: 1;
    transform: translateY(0);
}

.project-logo {
    height: 80px;
    margin-bottom: 20px;
}

.project-info h2 {
    font-size: 2em;
    color: #80c25a;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.project-info p {
    font-size: 1.1em;
    max-width: 500px;
    color: #333;
    margin: 0 auto;
}

/* Pie de página */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    font-family: 'Arial', sans-serif;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo img {
    max-width: 150px;
    margin-bottom: 20px;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.footer-column {
    flex: 1;
    margin: 0 20px;
}

.footer-column h3 {
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-column a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.footer-column a:hover {
    color: #3f9c35;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-social a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #3f9c35;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 10px;
    margin-top: 20px;
    width: 100%;
}

.footer-bottom p {
    margin: 0;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .footer-columns {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        margin: 10px 0;
    }
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
}

/* Responsive */
@media (max-width: 768px) {
    .header h1 {
        font-size: 1.5em;
    }

    .hero-content h2, .project-info h2 {
        font-size: 1.8em;
    }

    .menu-btn {
        font-size: 20px;
    }

    .menu-lateral {
        width: 80%;
    }

    .menu-lateral a {
        font-size: 16px;
    }

    .project-info {
        padding: 40px 5%;
    }

}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.parallax {
    background-image: url('https://cdn.bioguia.com/embed/253aec8e2ccc20a5ea34b3965e02565af3c31588271573/familia-cultivos-atardecer.jpg'); /* Asegúrate de poner la ruta correcta de tu imagen */
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #000;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.content h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.content p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.content a {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 10px 20px;
    border: 1px solid #000;
    transition: background-color 0.3s, color 0.3s;
}

.content a:hover {
    background-color: #000;
    color: #fff;
}

.normal-section {
    padding: 50px;
    text-align: center;
}


/* Estilos para la sección de Integrantes */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.team {
    padding: 50px 20px;
    background-color: #1c1c1c;
    color: #fff;
    text-align: center;
}

.section-title {
    font-size: 36px;
    margin-bottom: 40px;
    color: #00a651;
}

.team-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.team-member {
    background: #2a2a2a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 20px;
    width: 270px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.member-photo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 2px solid #00a651;
}

.member-name {
    font-size: 20px;
    color: #00a651;
    margin-bottom: 5px;
}

.member-role {
    font-size: 16px;
    color: #bbb;
    margin-bottom: 10px;
}

.member-description {
    font-size: 14px;
    color: #ccc;
    line-height: 1.5;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .team-content {
        flex-direction: column;
        align-items: center;
    }
}



