header h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.header {
    background-color: #1d1d1d;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.header-content {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.header h1 {
    font-size: 1.8em;
    color: #80c25a;
}

/* Sección hero */
.hero {
    background: linear-gradient(to bottom, rgba(229, 241, 230, 0.9), rgba(135, 207, 135, 0.9)), url(imagenes/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.hero-content p {
    max-width: 600px;
    font-size: 1.2em;
    color: #555;
}

/* Información del proyecto */
.project-info {
    display: flex;
    flex-direction: column; /* Ajuste para que el contenido se apile verticalmente */
    align-items: center;
    justify-content: center;
    padding: 60px 5%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Alinea el texto en el centro */
    margin: 20px auto; /* Centra la sección en el contenedor */
}

.info-content {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    transition-delay: 0.2s;
}

.info-content.visible {
    opacity: 1;
    transform: translateY(0);
}

.project-logo {
    height: 80px;
    margin-bottom: 20px;
}

.project-info h2 {
    font-size: 2em;
    color: #80c25a;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.project-info p {
    font-size: 1.1em;
    max-width: 500px;
    color: #333;
    margin: 0 auto; /* Centra el texto */
}

/* Pie de página */
footer {
    background: linear-gradient(to right, #1d1d1d, #333);
    color: #fff;
    text-align: center;
    padding: 15px;
    border-top: 4px solid #206a36;
}

footer p {
    font-size: 0.9em;
}

/* Responsive */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: 90%;
    }

    header h1 {
        font-size: 1.5em;
    }

    .hero-content h2, .project-info h2 {
        font-size: 1.8em;
    }

    nav ul li {
        margin: 10px 0;
    }
}

        /* Estilos del menú lateral */
        .menu-lateral {
            position: fixed;
            top: 0;
            right: -100%;
            width: 300px;
            height: 100%;
            background-color: white;
            box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
            padding: 20px;
            transition: right 0.3s ease;
            z-index: 1000;
        }

        .menu-lateral.open {
            right: 0;
        }

        /* Botón de cierre */
        .close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 24px;
            cursor: pointer;
        }

        /* Estilo para el overlay */
        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 500;
            transition: opacity 0.3s ease;
        }

        .overlay.show {
            display: block;
        }

        /* Estilos del botón del menú */
        .menu-btn {
            font-size: 24px;
            cursor: pointer;
        }

        /* Opciones de menú */
        .menu-lateral ul {
            list-style: none;
            padding: 0;
        }

        .menu-lateral li {
            padding: 10px 0;
        }

        .menu-lateral a {
            color: black;
            text-decoration: none;
            font-size: 18px;
        }